/*style for the main page*/
body {
  background: rgba(48, 50, 49, 0.09);
}
.game-container {
  padding: 10px;
  text-align: center;
}
.wrapper {
  max-width: 400px;
  position: relative;
  margin: 0 auto;
}
.game-container h2 {
  line-height: 2.0;
}
.chess-boader {
  max-width: 400px;
  height: 400px;
  overflow: hidden;
  background-size: cover;
  box-shadow: 1px 5px 10px rgba(51, 51, 51, 0.86);
}
.game-result-wrapper {
  position: absolute;
  display: none;
  width: 250px;
  height: 150px;
  padding: 10px;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 5px;
}
#chess-area {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#chess-area li {
  display: block;
  position: relative;
  list-style: none;
  background-image: linear-gradient(130deg, #2b2b2b 40%, #7d7d7d 20%, #353535 40%);
  border: 1px solid #868686;
  width: 32.8%;
  height: 33%;
  float: left;
  transition-property: background-image 2s linear;
  /* Firefox 4 */
  -moz-transition: background-image 2s linear;
  /* Safari and Crome */
  -webkit-transition: background-image 2s linear;
  /* Opera */
  -o-transition: background-image 2s linear;
}
#chess-area li:hover {
  cursor: pointer;
  background-image: linear-gradient(220deg, #2b2b2b 40%, #7d7d7d 20%, #353535 40%);
}
.round-piece {
  display: inline-block;
  width: 60%;
  height: 60%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: -webkit-radial-gradient(circle at top, #fff, #383838);
  background-image: radial-gradient(circle at top, #fff, #383838);
  box-shadow: 1px 2px #000;
  border-radius: 50%;
}
.square-piece {
  display: inline-block;
  width: 60%;
  height: 60%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: -webkit-radial-gradient(circle at top, #ff6e74, #3a0606);
  background-image: radial-gradient(circle at top, #ff6e74, #3a0606);
  box-shadow: 1px 2px #000;
  border-radius: 50%;
}
